* {
    box-sizing: border-box;
    text-decoration: none;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: 'Roboto', sans-serif;
}

h3 {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    margin: 30px 0;
    letter-spacing: -3px;
    color: rgb(235, 215, 215);
}

button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.section-box {
    margin: 30px auto 50px;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
}

.main-box {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    color: rgb(100, 100, 100);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgb(190, 190, 190), 0 0 70px rgb(220, 220, 220);
    letter-spacing: -.5px;
}


/*Galva sākums*/

.head-box {
    width: 100%;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.head-btn-box {
    /*background-color: blue;*/
    float: left;
    margin: 18px 5px;
    width: 30px;
    /*height: 30px;*/
}

.head-btn-box:hover .head-btn-up {
    opacity: 1;
}

.head-btn {
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
}

.head-btn:after {
    content: '';
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
}

.head-btn-up {
    border-bottom: 10px solid rgb(210, 210, 210);
    margin-bottom: 5px;
    opacity: 0;
}

.head-btn-up:after {
    border-bottom: 8px solid rgb(255, 255, 250);
    top: 4px;
    left: -8px;
}

.head-btn-down {
    border-top: 10px solid rgb(210, 210, 210);
}

.head-btn-down:after {
    border-top: 8px solid rgb(255, 255, 250);
    top: -12px;
    left: -8px;
}

.head-text-box {
    /*background-color: yellow;*/
    float: left;
    padding: 18px 10px;
    width: calc(100% - 40px);
    font-style: italic;
    color: rgb(210, 210, 210);
}


/*Galva beigas*/

.task-box {
    width: 100%;
    border-top: 1px solid rgb(240, 240, 240);
    position: relative;
}

.task-cbx {
    display: none;
}

.task-cbx-lbl {
    display: block;
    float: left;
    margin: 12px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 50%;
    position: relative;
}

.task-cbx:checked+.task-cbx-lbl {
    border-color: rgb(110, 200, 185);
}

.task-cbx:checked+.task-cbx-lbl:after {
    content: '\2713';
    position: absolute;
    top: 0;
    left: 5px;
    color: rgb(110, 200, 185);
}

.task-cbx:checked~.task-edit-box {
    text-decoration: line-through;
    color: rgb(190, 190, 190);
}

.task-cbx-lbl:hover {
    cursor: pointer;
    border-color: rgb(110, 200, 185);
}

.task-edit-box {
    /*background-color: yellow;*/
    float: left;
    width: calc(100% - 43px);
    padding: 12px 30px 12px 10px;
    outline: none;
    position: relative;
    border: 1px solid transparent;
}

.task-edit-box:focus {
    box-shadow: 0 0 10px rgb(210, 210, 210) inset;
    border-color: rgb(100, 100, 100);
    transition: border-color .5s;
}

.task-edit-close-btn {
    /*background-color: green;*/
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px 0;
    font-size: 30px;
    color: rgba(175, 95, 95, 1);
    visibility: hidden;
    z-index: 10;
    opacity: 0;
}

.task-edit-box:hover~.task-edit-close-btn,
.task-edit-close-btn:hover {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s;
}


/*Apakša sākums*/

.foot-box {
    width: 100%;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 0;
}

.foot-count-text {
    display: inline-block;
    width: 27%;
    padding: 10px 0 10px 10px;
    font-size: 14px;
}

.foot-select-btn-box {
    /*background-color: gold;*/
    display: inline-block;
    width: 46%;
    text-align: center;
    font-size: 14px;
}

.foot-select-btn {
    margin: 5px 2px;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.foot-select-btn:hover, .foot-select-btn.hover {
    border-color: rgba(175, 95, 95, 1);
    transition: border-color .5s;
}

.foot-notice-text {
    display: inline-block;
    width: 27%;
    padding: 10px 10px 10px 0;
    text-align: right;
    font-size: 14px;
}

/*Apakša beigas*/

.false-box {
    display: block;
    height: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgb(190, 190, 190);
    margin: 2px auto 0;
}

.false-box-1 {
    width: 99%;
}

.false-box-2 {
    width: 98%;
}


/**/
